body{
    margin: 0%;
    padding: 0%;
	font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    background: linear-gradient(to top right, #FFFFFF 50%, #FF3333 40%);
    /* repeat backfround for infinity */
    background-repeat: repeat;
    /* size of the background image */
    background-size: 100%;
    /* position the background image */
    background-position: center;
    /* attachment of the background image */
    background-attachment: fixed;
    position: relative;
}